.m-hd{
    position:fixed;width:100%;top:0;z-index:100;background: #000;text-align:center;color:#fff;height:40px;line-height:40px;
    .back{
        position:absolute;top:16px;left:20px;width:50px;
        .arrow{border-left:2px solid;border-top:2px solid;border-color:#fff;width: 10px; height: 10px;transform: rotate(-45deg); }
        .wrd{position:absolute;left:6px;top:-15px;font-size:14px;width:40px;}
    }
}

.m-national{
    color:#fff;text-align:center;font-size:18px;
    .rank{
        margin-top:20px;
        span{font-size:60px;font-weight:bold;margin-right:5px;}
    }
    .pro{margin-top:5px;}
    .img{
        position:relative;padding:25px 0 40px;max-width:414px;margin:0 auto;
        img{width:120px;}
    }
    .blk{
        position:absolute;font-size:14px;text-align:left;line-height:24px;
        &-1{
            top:80px;left:20px;
        }
        &-2{
            top:90px;right:20px;
        }
        &-3{
            top:250px;left:20px;
        }
    }
    .line{
        position:absolute;height:1px;background:#fff;
        &-1{
            width:40px;top:136px;left:128px;transform:rotateZ(45deg);
        }
    }
    .tip{font-size:12px;text-align: right;margin-bottom: 5px;}
}

.m-national-list{
    background:#fff;
    .item{
        position:relative;padding:20px;border-bottom:1px solid #f0f0f0;
        &:last-child{border-bottom:0;}
        .img{
            float:left;width:60px;height:60px;
            img{width:60px;height:60px;}
        }
        .wrd{float:left;margin-top:17px;margin-left:12px;}
        .u-btn{float:left;margin-left:10px;margin-top:19px;}
        .arrow{position:absolute;top:45px;right:25px;border-right:1px solid;border-bottom:1px solid;border-color:#ccc;width: 10px; height: 10px;transform: rotate(-45deg); }
    }
}

.m-ship{
    margin:20px 0;text-align:center;
    img{width:300px;}
}

.m-mdl{
    position:relative;min-height:400px;margin:0 10px 20px 10px;background:#fff;border-radius: 4px;padding-left:80px;
    .imgs{
        .line{
            position:absolute;top:40px;left:40px;width:3px;background:#88a2df;
            &-1{height:460px;}
            &-2{height:85px;}
            &-3{height:670px;}
            &-4{height:320px;}
        }
        img{position:absolute;left:14px;width:55px;height:55px;border:5px solid #fff;border-radius: 50%;}
        .img1{top:20px;}
        .img2{top:155px;}
        .img3{top:470px;}
        .img4{top:98px;}
        .img5{top:380px;}
        .img6{top:203px;}
        .img7{top:339px;}
        .img8{top:668px;}
    }
    &-1{margin:0;border-radius:0;}
    &-2{padding-left:20px;}
    .refImgs{
        img{width:100%;margin-top:10px;}
    }
}

.m-blk{
    &-1{border-bottom:0;}
    &-2{padding:0;}
    padding:35px 0 20px;border-bottom:1px solid #f0f0f0;
    &:last-child{border-bottom:0;}
    .ttl{
        position:relative;
        .value{
            font-size:20px;color:#86a3df;float:right;margin-right:50px;
        }
    }
    .box{
        margin-right:20px;
        &-1{margin-right:10px;}
    }
    .line{
        position:relative;width:100%;margin-top:40px;
        .u-btn{float:left;}
        .u-btn-2-1{border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
        .u-btn-2-4{border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
        .score{
            position:absolute;font-size:12px;top:-28px;text-align:center;width:30px;height:20px;line-height:20px;background:#88a2df;border-radius:4px;color:#fff;
            .trig{
                position:absolute;top:20px;left:11px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid #88a2df;
            }
        }
    }
    .shape{
        margin-top:20px;
        .item{
            float:left;position:relative;width:30%;height:62px;text-align: center;border:1px solid #adc3f5;font-size:12px;margin-bottom:10px;margin-right:10px;
            &:nth-child(3n+0){margin-right:0;}
            .img{
                width:12px;margin:0 auto;margin-top:5px;
                img{max-width:100%;height:32px;}
            }
            .back{display: block;}
            .front{display:none;}
            .trig{
                display:none;position:absolute;top:0;left:0;width: 0;height: 0;border-top: 20px solid #fff;border-right: 20px solid transparent;
                .hook{
                    position:absolute;top:-13px;left:2px;width:5px;height:2px; background:#88a2df;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);
                    &::after{content:'/';display:block;width: 10px;height:2px; background: #88a2df;-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);}
                }
            }
            &.z-active{
                background:#88a2df;color:#fff;
                .back{display: none;}
                .front{display:block;}
                .trig{display: block;}
            }
        }
    }
    .control{
        margin-top:20px;padding:10px;background:#f3f3f3;
        .item{
            padding:5px 0;
            .wrd{float:left;width:40%;margin-top:3px;color:#989898;}
            .u-btn{float:left;}
        }
    }
    .fract{
        margin-top:20px;
        .item{
            position:relative;float:left;width:33.3%;color:#999;
            &:nth-child(3n+0){margin-right:0;}
            .ref{color:#999;}
            .img{
                width:54px;height:54px;border:2px solid #fff;
                img{width:50px;height:50px;}
            }
            .wrd{font-size:13px;margin-top:10px;}
            .trig{
                display:none;position:absolute;top:53px;left:32px;width: 0;height: 0;border-bottom: 20px solid #86a3df;border-left: 20px solid transparent;
                .hook{
                    position:absolute;top:15px;left:-11px;width:5px;height:2px; background:#fff;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);
                    &::after{content:'/';display:block;width: 10px;height:2px; background:#fff;-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);}
                }
            }
            &.z-active{
                color:#86a3df;
                .img{border:2px solid #86a3df;}
                .trig{display: block;}
            }
        }
    }
    .evaluate{
        color:#656565;margin-top:20px;line-height: 24px;
    }
    .pwv,.abi{
        .item{
            margin-top:20px;
            .left{float:left;color:#666;}
            .right{float:right;color:#989898;margin-right:40px;}
        }
    }
    .abi{
        margin-top:20px;
        .item .right{margin-right: 56px;}
    }
    .tab{
        margin-top:15px;
        .item{
            &:first-child{border-top:1px solid #f0f0f0;}
            color:#666;height:45px;line-height:45px;padding:0 5px;border-bottom:1px solid #f0f0f0;margin:1px 0;
            .k{float:left;}
            .v{float:right;margin-right:20px;}
        }
    }
    .obst{
        position:relative;margin:40px 0;font-size:14px;color:#666;height:70px;
        .counts{
            .count{
                position:absolute;width:10%;margin-left:-10px;top:-20px;height:19px;
                &-1{left:0;}
                &-2{left:10%;}
                &-3{left:20%;}
                &-4{left:30%;}
                &-5{left:40%;}
                &-6{left:50%;}
                &-7{left:60%;}
                &-8{left:70%;}
                &-9{left:80%;}
                &-10{left:90%;}
                &-11{left:100%;}
            }
            .num{position:absolute;top:-7px;}
            .trig{position:absolute;left:4px;bottom:0;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 7px solid #666;}
        }
        .btns{
            border-radius:10px;overflow:hidden;
            .u-btn{
                float:left;border-right:1px dashed #fff;
                &:last-child{border-right:0;}
            }
        }
        .explains{
            .explain{
                float:left;border-right:1px dashed #89a1df;padding-top:4px;text-align:center;font-size:13px;
                &-1{width:50%;border-left:1px dashed #89a1df;}
                &-2{width:40%;}
                &-3{width:10%;}
            }
        }
        .calcs{
            .calc{
                position:absolute;width:35px;height:35px;top:50px;
                &-1{left:0;}
                &-2{left:20%;}
                &-3{left:50%;margin-left:-35px;}
                &-4{left:70%;margin-left:-17px;}
                &-5{left:100%;margin-left:-34px;}
            }
        }
        .feets{
            .feet{
                position:absolute;height:20px;top:0;margin-left:-7px;
            }
        }
    }
    .summary{
        .item{
            padding:20px 0;border-bottom:1px solid #f0f0f0;
            &:last-child{border-bottom:0;}
            .eval{float:right;width:50px;text-align: left;margin-right:20px;}
        }
    }
}

.m-banner{
    height:40vh;
    .img{
        width:120px;padding:50px 0 0;margin:0 auto;
        img{width:120px;}
    }
    .wrd{font-size: 32px;font-weight: bold;color:#fff;letter-spacing: 4px;text-align: center;}
    .wrd1{font-size: 20px;text-align: center;margin-bottom:10px;}
}

.m-form{
    padding:60px 20px 120px;background:#fff;height:60vh;
    .ipt{margin-bottom: 30px;}
    input{
        width:100%;height:60px;line-height:60px;padding:0 10px;border:2px solid #88a2df;border-radius: 4px;font-size:20px;
    }
}

.m-citizen{
    color:#fff;text-align:center;font-size:18px;padding:30px 20px;
    .img{
        float:left;width:120px;width:40%;
        img{width:120px;}
    }
    .rank{
        float:left;font-size:18px;text-align:left;width:60%;padding-left:20px;margin-top:90px;
        span{font-size:60px;font-weight:bold;}
    }
}